{% extends "base.html" %}

{% block content %}
    <h1>Все заказы</h1>

    {% if orderinstance_list %}
    <ul>

      {% for order in orderinstance_list %}
      <li class="{% if orderinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'order-detail' orderinst.order.pk %}">{{orderinst.order.name}}</a> {% if user.is_staff %}- {{ orderinst.customer_order }}{% endif %} {% if perms.studio.can_mark_returned %}- <a href="{% url 'order-update' orderinst.id %}"></a>  {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Заказов нет</p>
    {% endif %}       
{% endblock %}