{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<h1>Наши проекты</h1>
    {% for order in num_order %}
<div class="d-flex">
  <img class="img thumbnail" src="{% thumbnail order.photo_file 'index' %}">
  <div class="p-2">
    <h3>{{ order.name }}</h3>
    <div>Дата заказа: {{ order.day_add }} / Категория: {{ order.category}}</div>
  </div>
</div><br><br>
    {% endfor %}
<br><p>Количество принятых проектов: {{ num_status }}</p>
{% endblock %}